.profile-container {
    min-height: calc(100vh - var(--navbar-height));

    display: grid;
    grid-template-columns: minmax(200px, 400px) minmax(400px, 1fr);
}

.profile-card {
    background-color: #cef9f2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto auto auto auto auto;
    justify-items: center;
    align-items: center;
    font-family: "Roboto Mono";
}

.profile-card > .date-of-birth {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}

.profile-card p {
    width: auto;
    margin: 0px;

    font-size: 18px;
}

.user-posts {
    background-color: #afc1d6;
    grid-column: 2;
}

.update-btn {
    max-width: 80%;
    height: 50px;

    font-family: "Roboto Mono";
    font-size: 20px;
    background-color: #ab92bf;
    border-radius: 8px;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    position: relative;
    overflow: hidden;
    transition: 300ms;
    margin-bottom: 5px;
}

.update-btn:hover {
    box-shadow: inset 0 -50px 0 0 #655A7C;
}

.follow-data {
    font-size: 18px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.follow-data > div {
    font-family: "Roboto Mono";
    background-color: #ab92bf;
    padding: 6px 8px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    border: 2px solid white;
}

.no-dp, .display-pic-field {
    border: 3px solid #655a7c;
    width: 80%;
    height: 80%;
    display: grid;
    place-items: center;
}

.display-pic-field > input {
    border: none;
}

.button-div {
    display: flex;
    gap: 4px;
}

.display-pic {
    height: 95%;
}

.post-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-auto-rows: min-content;
    gap: 6px;
    padding: 15px;
    background-color: #ab92bf;
}

.post-card {
    display: flex;
    flex-direction: column;
    background-color: #cef9f2;
    border-radius: 4px;
    padding: 4px;
    font-family: "Roboto Mono", monospace;
    transition: 300ms;
}

.post-card:hover {
    transform: translateY(-5px);
}

.post-card-image {
    width: 100%;
    height: 290px;
    border-radius: 4px;
}


.post-modal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    justify-items: center;
}

.post-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100%;
    min-width: 500px;
    max-width: 600px;
    color: black;
    padding: 5px;
    font-family: "Roboto Mono", monospace;
}

.close-modal {
    align-self: flex-end;
    border: 2px solid white;
    background-color: red;
    font-size: 18px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    border-radius: 4px;
    color: white;
}

.top-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-modal .time-stamp {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: italic;
    margin-right: 5px;
}

.post-modal .top-field {
    font-size: 24px;
    background-color: white;
    padding: 5px;
}

.post-modal .caption {
    font-size: 18px;
    background-color: white;
    padding: 5px;
}   

.post-container input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
}

.post-container textarea {
    width: 100%;
    box-sizing: border-box;
}
